# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\pounze_go_project\koynce\coynce_admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
